.layout {
    display:flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbarItem:nth-of-type(1) {
    margin-right: auto;
}

.navbarItem {
    margin: 0px 5px 5px; 
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #fff;
    padding: 5px;
}

.navbarItem:hover {
    background: #ffffffff;
    /* font-weight:400; */
    box-shadow: 0px 0px 50px rgba(206, 206, 206, 0.6);
}

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #fff;
    overflow-y: scroll
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.project {
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-basis: 318px;
    /* background-color: steelblue; */
}

.project-subheading {
    font-size: small;
    color: slategray;
}

.project-container {
    width: 980px;
    display: grid;
    grid-template-areas:
        'image header header'
        'image description description'
        'image url github'
        'tag tag tag'
    ;
    grid-template-columns: 270fr 330fr 330fr;
    grid-template-rows: 50px 1fr 60px 50px;
}


.image {
    grid-area: image;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.project-image {
    border-radius: 7px;
    margin: 15px;
}

.header {
    grid-area: header;
    display: flex;
    margin: 30px 10px 10px;
    align-items: center;
    font-size: larger;
}

.content {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.description {
    grid-area: description;
    margin: 10px;
}

.url {
    grid-area: url;
    margin: 10px;    
}

.github {
    grid-area: github;
    margin: 10px;    
}

.filterAndSort {
    display: grid;
    grid-template-areas: 
        'filter-logo filter-head'
        'filter'
        ;
    /* grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr; */
    
    /* TODO when doing sort capability */
    /* grid-template-areas: 
        'filter-head sort'
        'filter sort'
    ; */
    /* grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr; */
    justify-content: end;
    max-width: 980px;
}

.filter-header {
    grid-area: filter-head;
    font-size: large;
    margin: 2px 5px;
    align-self:center;
    text-align: end;
}

.dropdownLogo {
    grid-area: filter-logo;
    align-self: center;
    width: 20px;
    margin-right: 45px;
    margin-top: 2px;
    height: 25px;
}

.filter-header:hover .filter-tags-buttons {
    display:flex;
    flex-wrap: wrap;
    /* margin-top: 30px; */
    width: 200px;
    justify-content: flex-end;
    gap: 7px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 7px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0px 0px 50px rgba(206, 206, 206, 0.6);
}

.filterAndSort {
    position: sticky;
    top:0px;
    background-color: #ffffffda;
    margin-bottom: 6px;
}

.filter-tags-buttons {
    grid-area: filter;
    display: none;
    /* flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    gap: 7px;
    margin: 0px 5px 10px ; */

    position: absolute;
    /* left: 5px; */
    /* top: 5px; */
    right: 5px;
}

/* .sort {
    grid-area: sort;
    text-align: end;
    margin: 15px 10px 10px;
} */

.tagsButton {
    font-family: 'Open Sans', sans-serif;
    padding: 0px 5px;
    line-height: 1.5;
    border-radius: 7px;
    font-size: 16px;
    border: 1px slategray solid;
    background: #eeeeee;
    flex-grow: 0;
}

.tags {
    grid-area: tag;
    display: flex;
    flex-direction: row;
    gap: 7.5px;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;
}

.tag {
    
    border-radius: 7px;
    background: #e0e0e0; 
    padding: 0px 5px;
    
    /* background: #333; */
}



#cancelFilterButton {
    /* margin-left: auto; */
    flex-grow: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 5px;
    line-height: 1.5;
    border-radius: 7px;
    font-size: 16px;
    border: 1px rgb(219, 219, 219) solid;
    background: rgb(255, 244, 244);
}

