.layout {
    display:flex;
    flex-direction: column;
}

.navbar {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbarItem1 {
    margin-right: auto;
}

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #fff;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.project {
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 318px;
    /* background-color: steelblue; */
}

.project-container {
    width: 980px;
    display: grid;
    grid-template-areas:
        'image header header'
        'image description description'
        'image url github'
        'tag tag tag'
    ;
    grid-template-columns: 270fr 330fr 330fr;
    grid-template-rows: 20fr 50fr 15fr 15fr;
}


.image {
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image {
    border-radius: 7px;
    margin: 15px;
}

.header {
    grid-area: header;
    display: flex;
    margin: 10px;
    align-items: center;
}

.description {
    grid-area: description;
    margin: 10px;
}

.url {
    grid-area: url;
    margin: 10px;    
}

.github {
    grid-area: github;
    margin: 10px;    
}

.tags {
    grid-area: tag;
    display: flex;
    flex-direction: row;
    gap: 7.5px;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 10px;
}

.tag {
    border: 1px slategray solid;
    border-radius: 7px;
    background: #e0e0e0;
    padding: 0px 5px;
    /* background: #333; */
}

.filter-tags-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
    width: 980px;
    margin: 0px auto 10px ;
}

.tagsButton {
    font-family: 'Open Sans', sans-serif;
    padding: 0px 5px;
    line-height: 1.5;
    border-radius: 7px;
    font-size: 16px;
    border: 1px slategray solid;
    background: #e0e0e0;
}

#cancelFilterButton {
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 5px;
    line-height: 1.5;
    border-radius: 7px;
    font-size: 16px;
    border: 1px rgb(125, 137, 149) solid;
    background: #ffd7d7;
}
